.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# for docker
published/

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# binary/objects
obj/
bin/

# other
.sql-environment
